<!------------------------ sec1 ------------------------------>
<div class="image">
    <div>
        <div class="sec1">
            <div class="container  text-lg-center">
                <div class=" col-ms-12 col-lg-12 info ">
                    <p class="sec1-hed1 mb-2">A Few Words</p>
                    <h3 class="sec1-title1">About Us</h3>
                </div>


            </div>
        </div>
    </div>
    <hr class="line">
</div>
<!------------------------ sec1 ------------------------------>
<!---------------------- image sec --------------------------->
<div class="container">
    <section class="background-image"></section>
</div>
<!---------------------- image sec --------------------------->
<!------------------------ sec2 ------------------------------>
<section>
    <div class="sec2">
        <div class="container">
            <div class="row ">
                <div class="txt1 col-ms-12 col-lg-6 text-md-start">
                    <b class="sec2-hed1 mb-2">Our Story</b>
                    <h3 class="sec2-title1">
                        <span>Our story is one of </span> passion, perseverance, and commitment
                    </h3>
                </div>
                <div class="col-sm-12 col-lg-6 mb-9">
                    <b class="sec2-hed2 mt-5">Our journey began when a group of dedicated individuals, fueled by a
                        shared love for exceptional deals and unmatched savings, came together to create a shopping
                        experience like no other</b><br>
                    <div class="sec2-title2 mt-4">
                        <p>
                            Founded in 2008, BlackFridayShop set out with a simple mission – to make Black Friday
                            accessible to everyone, delivering the thrill of unbeatable discounts to your
                            fingertips. Over the years, we've dedicated ourselves to curating the finest selection
                            of products, from electronics and fashion to home essentials and more, all with one goal
                            in mind: providing you with the ultimate shopping experience.<br>
                            What sets us apart is our relentless pursuit of quality and value. We've scoured the
                            market for the finest products, establishing partnerships with trusted brands that share
                            our commitment to excellence. This dedication ensures that every item you find at
                            BlackFridayShop meets the highest standards of quality.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------------------ sec2 ------------------------------>
<!------------------------ sec3 ------------------------------>
<section>
    <div class="sec3">
        <div class="container text-lg-center">
            <div class="card text-bg-dark">
                <img src="https://websitedemos.net/black-friday-04/wp-content/uploads/sites/1419/2023/11/about-01.jpg"
                    class="card-img" alt="...">
                <div class="card-img-overlay">
                    <div class="sec3-txt">
                        <h5 class="sec3-hed">boundless love for saving</h5>
                        <p class="sec3-title">We've scoured the market for the finest products, establishing
                            partnerships<br> with trusted brands that share our commitment to excellence!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------------------ sec3 ------------------------------>

<!------------------------ sec4 ------------------------------>
<section>
    <div class="sec4">
        <div class="container">
            <div class="row ">
                <div class="txt1 col-ms-12 col-lg-6 text-md-start">
                    <b class="sec4-hed1 mb-2">Our Values</b>
                    <h3 class="sec4-title1">
                        Our values are at the heart of everything we do
                    </h3>
                    <p class="sec4-prg1 mt-4">Our values are the foundation upon which BlackFridayShop is built.
                        They’re not just words on a page; they’re the principles that drive our everyday actions and
                        decisions. We are dedicated to upholding these values and ensuring that they shine through
                        in every aspect of your experience with us.</p>
                    <div>
                        <p class="sec4-prg1 mb-2">Thank you for choosing BlackFridayShop, where our values meet your
                            expectations.</p>
                    </div>

                </div>
                <div class="col-sm-12 col-lg-6 mb-9">
                    <img class="sec-img"
                        src="https://websitedemos.net/black-friday-04/wp-content/uploads/sites/1419/2023/11/about-03.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>
<!------------------------ sec4 ------------------------------>
<!------------------------ sec5 ------------------------------>
<section>
    <div class="sec5">
        <div class="container text-md-start">
            <div class="row ">
                <div class="col-ms-12 col-lg-6    ">
                    <b class="sec5-hed1 mb-2">Why Choose BlackFridayShop?</b>
                    <h3 class="sec5-title1">
                        the joy of shopping <br>at its best
                    </h3>
                </div>
                <div class="col-sm-12 col-lg-6 ">
                    <div class="row num1  ">
                        <div class=" col-sm-6 col-lg-6 ">
                            <i class="fa-solid fa-truck icon-feature" style="color: #ffffff;"></i>
                            <h4 class="sec5-title">Free Shipping</h4>
                            <p class="sec5-prg">Enjoy the treat of free shipping on all your Halloween must-haves
                            </p>
                        </div>
                        <div class=" col-sm-6 col-lg-6  ">
                            <i class="fa-solid fa-lock icon-feature" style="color:  #ffffff;"></i>

                            <h4 class="sec5-title">Secure Payments</h4>
                            <p class="sec5-prg">Shop with confidence knowing that your payments are securely
                                processed for a worry-free Halloween experience</p>
                        </div>
                    </div>
                    <div class="row num2  ">
                        <div class=" col-sm-6 col-lg-6 ">
                            <i class="fa-solid fa-location-dot icon-feature" style="color: #ffffff;"></i>
                            <h4 class="sec5-title">Order Tracking</h4>
                            <p class="sec5-prg">Stay in the know with real-time order tracking to ensure your
                                Halloween treasures arrive right on time</p>
                        </div>
                        <div class=" col-sm-6 col-lg-6 icon">
                            <i class="fa-solid fa-rotate-left icon-feature" style="color:  #ffffff;"></i>
                            <h4 class="sec5-title">Easy Returns</h4>
                            <p class="sec5-prg">Celebrate worry-free shopping with our hassle-free returns – because
                                we're here to make your Black Friday experience as smooth as possible</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!------------------------ sec6 ------------------------------>
<app-sale></app-sale>

<!------------------------ sec7 ------------------------------>
<!------------------------ sec7 ------------------------------>