<!------------------------ sec1 ------------------------------>
<div class="image">
    <div>
        <div class="sec1">
            <div class="container  text-lg-center">
                <div class=" col-ms-12 col-lg-12 info ">
                    <b class="sec1-hed1 mb-2">Let's Talk</b>
                    <h3 class="sec1-title1">Contact Us</h3>
                </div>
            </div>
        </div>
    </div>
    <hr class="line">
</div>
<!------------------------ sec1 ------------------------------>
<!------------------------ sec2 ------------------------------>
<section>
    <div class="sec2">
        <div class="container">
            <div class="row ">
                <div class="txt col-ms-12 col-lg-6 text-md-start">
                    <h3 class="sec2-hed mb-2">Get in touch</h3>
                    <p class="sec2-prg">Have questions or need assistance? Click the 'Contact Us' icon to get in touch
                        with our friendly and responsive customer support team</p>
                    <div class="add mt-3">
                        <i class="fa-solid fa-location-dot icon-feature  mt-1 " style="color:  #ff4955;"></i>
                        <ul class="list-unstyled">
                            <li class="name1">Address</li>
                            <li class="des">2972 Westheimer Rd. Santa Ana, Illinois 85486</li>
                        </ul>

                    </div>
                    <hr>
                    <div class="add">
                        <i class="fa-solid fa-phone mt-1 ph " style="color:  #ff4955; width: 10px;"></i>
                        <ul class="list-unstyled">
                            <li class="name1">Phone</li>
                            <li class="des">(405) 555-0128</li>
                        </ul>

                    </div>
                    <hr>
                    <div class="add">
                        <i class="fa-solid fa-envelope  mt-1 " style="color:  #ff4955;"></i>
                        <ul class="list-unstyled">
                            <li class="name1">Email</li>
                            <li class="des">hello@example.com</li>
                        </ul>

                    </div>
                    <hr>
                </div>
                <div class="col-sm-12 col-lg-6 mb-9">
                    <form>
                        <div class="row mb-3">
                            <label for="name" class="form-label fs-4"
                                style="font-family: League Gothic"><b>Name</b></label>
                            <div class="col-lg-6">

                                <input type="text" class="form-control" id="name">
                                <div id="emailHelp" class="form-text">First</div>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="name">
                                <div id="emailHelp" class="form-text">Last</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label fs-4"
                                style="font-family: League Gothic"><b>Email</b></label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label fs-4"
                                style="font-family: League Gothic"><b>Message</b></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button>send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------------------ sec2 ------------------------------>

<app-sale></app-sale>