<footer>
    <div class="sec7">
        <div class="container">
            <div class="row">
                <!-- Copyright section -->
                <div class="col-12 col-lg-8 text-left foot mb-3 mb-lg-0">
                    Copyright &copy; 2024 Black Friday | Powered by Black Friday
                </div>
                <!-- Navigation links section -->
                <div class="col-12 col-lg-4 text-lg-right foot">
                    <ul class="list-unstyled d-flex flex-column flex-lg-row justify-content-lg-end">
                        <li class="me-lg-3 mb-2 mb-lg-0" routerLink="/home">Home</li>
                        <li class="me-lg-3 mb-2 mb-lg-0" routerLink="/products">Shop</li>
                        <li class="me-lg-3 mb-2 mb-lg-0" routerLink="/about">About</li>
                        <li routerLink="/contact">Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>