<section>
    <div class="sec6">
        <div class="card text-bg-dark card-img ">
            <div class="card-img-overlay row justify-content-center align-items-center">
                <div class="sec6-txt">
                    <h5 class="sec6-hed">Black Friday Sale</h5>
                    <p class="sec6-title">Save Big: Up to <span> 60% Off </span> on All<br>Products</p>
                    <p class="sec6-prg">Don’t miss this exclusive opportunity to embark on a journey of unbeatable
                        savings and cutting-edge <br>technology. It’s time to secure the best deals and upgrade your
                        experience, so seize the moment and start<br> shopping now!</p>
                    <button routerLink="/products">
                        SHOP DEALS
                    </button>


                </div>
            </div>
        </div>
    </div>
</section>