<div class="image">
    <div>
        <div class="sec1">
            <div class="container  text-lg-center">
                <section id="countdown">
                    <h1>Hurry, Black Friday is Almost Here!</h1>
                    <h2>Biggest Sale Of The Year Begins</h2> <button routerLink="/products">
                        SHOP NOW
                    </button>

                </section>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <section>
            <div class="row">
                <div class="col-md-6">
                    <div class="text-section">
                        <h1 class="sale">Black Friday Exclusive </h1>
                        <h2>Save big: Up to 75% Off on Headphones </h2>
                        <p>You can trust us to bring you the latest technology at unbeatable prices. Don’t miss this
                            limited-time
                            opportunity to upgrade your audio game. </p>
                        <button routerLink="/products">
                            SHOP DEALS
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="image-section"><img
                            src="https://media.istockphoto.com/id/1214990736/photo/black-headphones-design-template-n.jpg?s=612x612&w=0&k=20&c=640s9XCZ_J89Ae_cyO27VN1uMZjMRxreh-tHyMUsJQ4="
                            alt=" "></div>

                </div>
            </div>


        </section>


        <section class="features-section">
            <div class="listss">
                <div class="features-header">
                    <p class="why-choose">Why Choose BlackFridayShop? </p>
                    <h2>the joy of shopping at its best </h2>
                </div>
                <div class="features-list">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="feature-item">
                                <i class="fas fa-truck"></i>

                                <h3>Free Shipping </h3>
                                <p>Delight in seamless free shipping, enhancing your shopping experience. Navigate our
                                    diverse
                                    collection, where cost savings meet product joy </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="feature-item">
                                <i class="fas fa-lock"></i>
                                <h3>Secure Payments </h3>
                                <p>Shop with confidence using our secure payment methods. Your transactions are
                                    protected,
                                    providing
                                    peace of mind for a worry-free shopping .</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="feature-item">
                                <i class="fas fa-map-marker-alt"></i>
                                <h3>Order Tracking </h3>
                                <p>Track your order effortlessly and easily with our streamlined system. Stay informed
                                    and in
                                    control as
                                    your
                                    purchase makes its way to your doorstep </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="feature-item">
                                <i class="fas fa-undo"></i>
                                <h3>Easy Returns </h3>
                                <p>Celebrate worry-free shopping with our hassle-free returns – because we're here to
                                    make your
                                    shopping
                                    experience as smooth as possible
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </section>
        <section>
            <div class="saver">
                <div class="text">
                    <p class="limited-offer">Limited-Time Offer</p>
                    <h1> Save Big: Up to <span>60%</span> on All Headphones </h1>
                    <p class="act-fast"> Act Fast Before They're Gone </p>
                    <button routerLink="/products">
                        SHOP DEALS
                    </button>
                </div>
                <div class="im">
                    <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aGVhZHBob25lfGVufDB8fDB8fHww"
                        alt="Headphones Image ">
                </div>
            </div>
        </section>

    </div>
</div>
<br>
<br>
<app-sale></app-sale>